{% extends "main.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="container-fluid mb-2 mr-2 p-3 bg-light">
                <button id="get-examples">GET /api/v1/keys by key pattern </button><input id="get-examples-pattern" value="" />
                <div><code>SCAN [CURSOR] MATCH [KEY PATTERN] </code></div>
                <div><h5 class="text-light-50">Response Time:</h5><span id="get-examples-response-time"></span> MS</div>

                <div id="get-examples-response-container w-100" class="overflow-auto" style="height:12em;">
                    <h5 class="text-light-50">Response Body:</h5>
                    <pre id="get-examples-response-body" style="width:100%;white-space: pre-wrap;"></pre>
                </div>
            </div>
            <div class="container-fluid mb-2 mr-2 p-3 bg-light">
                <button id="get-example">GET /api/v1/doc/ by ID</button><input id="get-example-id" value="" />
                <div><code>JSON.GET [KEY]</code></div>
                <div><h5 class="text-light-50">Response Time:</h5><span id="get-example-response-time"></span> MS</div>

                <div id="get-example-response-container" class="overflow-auto" style="width:100%;height:12em;">
                    <h5 class="text-light-50">Response Body:</h5>
                    <pre id="get-example-response-body" style="width:100%;white-space: pre-wrap;"></pre>
                </div>
            </div>
            <div class="container-fluid mb-2 mr-2 p-3 bg-light">
                <button id="get-example-names">GET /api/v1/subdoc/key/field/</button>
                <div><code>JSON.GET [KEY] .[FIELD PATH]</code></div>
                <input id="get-example-name" value="simple:/ nested:" />
                <input id="get-example-field" value="name, location, address..." />
                <div><h5 class="text-light-50">Response Time:</h5><span id="get-example-names-response-time"></span> MS</div>

                <div id="get-example-names-response-container" class="overflow-auto" style="width:100%;height:12em;">
                    <h5 class="text-light-50">Response Body:</h5>
                    <pre id="get-example-names-response-body" style="width:100%;white-space: pre-wrap;"></pre>
                </div>
            </div>
            <!-- <div class="container-fluid mb-2 mr-2 p-3 bg-light">
                <button id="delete-example-names">DELETE /api/v1/redisjson/delete/<id></button>
                <div><code>JSON.DELETE [KEY] .[FIELD PATH]</code></div>
                <input id="delete-example-key" value="simple:/ nested:" />
                <input id="delete-example-field" value="name, location, address..." />
                <div><h5 class="text-light-50">Response Time:</h5><span id="delete-example-key-response-time"></span> MS</div>

                <div id="get-example-key-response-container" class="overflow-auto" style="width:100%;height:12em;">
                    <h5 class="text-light-50">Response Body:</h5>
                    <pre id="get-example-key-response-body" style="width:100%;white-space: pre-wrap;"></pre>
                </div>
            </div> -->
        </div>

        <div class="col-6">
            <div class="container-fluid mb-2 mr-2 p-3 bg-light">
                <button id="post-example">POST /api/v1/redisjson </button>
                    <div><code>JSON.SET [KEY] [JSON STRING]</code></div>
                    <div class="input-group mb-3">
                        <label for="post-example-id" class="col-sm-2 col-form-label text-success">Id</label>
                        <div class="col-sm-7">
                            <input id="post-example-id" placeholder="any id will do..." />
                        </div>
                        <div class="col-sm-3">
                            <small for="post-example-id" id="post-example-id-error" class="col-sm-2 col-form-label text-danger invisible">Must be a valid ID.</small>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="post-example-name" class="col-sm-2 col-form-label text-success">Name</label>
                        <div class="col-sm-7">
                            <input id="post-example-name" placeholder="any name will do..." />
                        </div>
                        <div class="col-sm-3">
                            <small for="post-example-name" id="post-example-name-error" class="col-sm-2 col-form-label text-danger invisible">Must be a valid name.</small>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="post-example-age" class="col-sm-2 col-form-label text-success">Age</label>
                        <div class="col-sm-7">
                            <input id="post-example-age" placeholder="21" />
                        </div>
                        <div class="col-sm-3">
                            <small for="post-example-age" id="post-example-age-error" class="col-sm-2 col-form-label text-danger invisible">Must be a valid Age.</small>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="post-example-location" class="col-sm-2 col-form-label text-success">Location</label>
                        <div class="col-sm-7">
                            <input id="post-example-location" placeholder="California" />
                        </div>
                        <div class="col-sm-3">
                            <small for="post-example-location" id="post-example-location-error" class="col-sm-2 col-form-label text-danger invisible">Must be a valid location.</small>
                        </div>
                    </div>
                <div> RedisJSON:
                    <code id="put-product-sql-code"></code>
                </div>
                <div><h5 class="text-light-50">Response Time:</h5><span id="post-example-response-time"></span> MS</div>

                <div id="post-example-response-body" class="overflow-auto" style="width:100%;height:12em;">
                    <h5 class="text-light-50">Response Body:</h5>
                    <pre id="post-example-response-body" style="width:100%;white-space: pre-wrap;"></pre>
                    <!-- <pre id="get-example-names-response-body" style="width:100%;white-space: pre-wrap;"></pre> -->
                </div>
            </div>
            <div class="container-fluid mb-2 mr-2 p-3 bg-light">
                <button id="update-json">PUT /api/v1/redisjson/update</button>
                <div><code>JSON.SET [KEY] [.FIELD] [NEW VALUE]</code>
                <div class="input-group mb-3">
                    <input id="update-json-key" value="Keys" />
                </div>
                <div class="input-group mb-3">
                    <input id="update-json-field" value="name, location, address..." />
                </div>
                <div class="input-group mb-3">
                    <input id="update-json-value" value="any value will do..." />
                </div>
                <div><h5 class="text-light-50">Response Time:</h5><span id="update-json-response-time"></span> MS</div>

                <div id="update-json-response-container" class="overflow-auto" style="width:100%;height:12em;">
                    <h5 class="text-light-50">Response Body:</h5>
                    <pre id="update-json-response-body" style="width:100%;white-space: pre-wrap;"></pre>
                </div>
            </div>
            
            <div class="container-fluid mb-2 mr-2 p-3 bg-light">
                <button id="append-json">PUT /api/v1/redisjson/append</button>
                <div><code>JSON.STRAPPEND [KEY] [.FIELD PATH] [NEW STRING VALUE]</code>
                <div class="input-group mb-3">
                    <input id="append-json-key" value="Keys" />
                </div>
                <div class="input-group mb-3">
                    <input id="append-json-field" value="name, location, address..." />
                </div>
                <div class="input-group mb-3">
                    <input id="append-json-value" value="any value will do..." />
                </div>
                <div><h5 class="text-light-50">Response Time:</h5><span id="append-json-response-time"></span> MS</div>

                <div id="append-json-response-container" class="overflow-auto" style="width:100%;height:12em;">
                    <h5 class="text-light-50">Response Body:</h5>
                    <pre id="append-json-response-body" style="width:100%;white-space: pre-wrap;"></pre>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="example-detail-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="example-details-modal-title" class="modal-title">Example Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive-sm">
          <table id="example-detail-table" class="table">

          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block endscripts %}

<script src="/static/js/examples.js"></script>

{% endblock %}